header {
    background-color: chartreuse;
    display: inline-block;
}

.titulo {
    text-align: center;
    display: inline-block
}

.descripcionPersonal {
    width: 80%;
    display: inline-block;
}

.foto {
    display: inline-block;
    position: absolute;
    top: 2%;
    right: 5%;
}

img {
    height: 200px;
    margin-right: 30px;
    border: black 2px solid;
}

p {
    font-size: 20px;
}

strong {
    font-size: 20px;
}

.caracteristica {
    width: 200px;
    text-align: center;
}

.descripcion {
    border-left: black 3px solid;
}

.descripcionLaboral {
    border-left: black 3px solid;
}

table {
    margin-left: 30px;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding-left: 20px;
}